<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>你画我猜</title>
    <link rel="stylesheet" href="../public/stylesheets/index-stylesheet.css" />
</head>
<body>
	<div class="display">

		<div class="label-icon">头像</div>
		<div class="label-mark">
			<div class="place">名次</div>
			<div class="mark">分数</div>
		</div>

		<div class="label-icon">头像1</div>
		<div class="label-mark">
			<div class="place">名次1</div>
			<div class="mark">分数1</div>
		</div>

			<div class="label-icon">头像</div>
		<div class="label-mark">
			<div class="place">名次</div>
			<div class="mark">分数</div>
		</div>

		<div class="label-icon">头像1</div>
		<div class="label-mark">
			<div class="place">名次1</div>
			<div class="mark">分数1</div>
		</div>

			<div class="label-icon">头像</div>
		<div class="label-mark">
			<div class="place">名次</div>
			<div class="mark">分数</div>
		</div>

		<div class="label-icon">头像1</div>
		<div class="label-mark">
			<div class="place">名次1</div>
			<div class="mark">分数1</div>
		</div>

			<div class="label-icon">头像</div>
		<div class="label-mark">
			<div class="place">名次</div>
			<div class="mark">分数</div>
		</div>

		<div class="label-icon">头像1</div>
		<div class="label-mark">
			<div class="place">名次1</div>
			<div class="mark">分数1</div>
		</div>

		
	</div>

	<div class="canvas">
		<div class="canvas-title">
			<button type="button" class="button-forgo-type">放弃</button>
		</div>
		<div class="canvas-time"></div>	
		<div class="canvas-tools">
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>
			<button type="button" class="button-color-type">颜色</button>


			<button type="button" class="button-pen-type">笔头</button>
			<button type="button" class="button-pen-type">笔头</button>
			<button type="button" class="button-pen-type">笔头</button>
			<button type="button" class="button-pen-type">笔头</button>
			<button type="button" class="button-pen-type">笔头</button>

			<button type="button" class="button-clear-type">清空</button>
		</div>
	</div>

	<div class="chat"></div>
    <script src="../public/scripts/dist/main.js"></script>
</body>
</html>
