<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>你画我猜</title>
  <link rel="stylesheet" href="../public/stylesheets/index-stylesheet.css" />
</head>

<body>
  <div class="display">

  <div class="infor">
    <span class="rank"></span>
    <img src="" alt="Avatar">
    <span class="score"></span>
  </div>
  </div>

  <div class="canvas">
    <div class="canvas-title"></div>
    <div class="canvas-time"></div>
    <div class="canvas-tools">
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
      <button type="button" class="button-type">工具</button>
    </div>
  </div>

  <div class="chat"></div>

  <script src="../public/scripts/dist/game-script.js"></script>
</body>

</html>
